/.vs/SimpleLogger/v16/*.suo
/SimpleLogger/bin/Release/*.dll
/SimpleLogger/bin/Release
/SimpleLogger/obj/Debug
/SimpleLogger/obj/Release
/packages/System.Reactive.5.0.0
/packages/System.Runtime.CompilerServices.Unsafe.4.5.3
/packages/System.Threading.Tasks.Extensions.4.5.4
